*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

svg,
img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 24px;
}

@media screen and (max-width: 960px) {
  .container {
    padding: 16px 18px;
  }
}

.relative {
  position: relative;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-item-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 360px;
          flex: 1 1 360px;
}

.flex-item-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 360px;
          flex: 2 1 360px;
}

.flex-item-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 360px;
          flex: 3 1 360px;
}

.flex-item-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 360px;
          flex: 4 1 360px;
}

.flex-item-5 {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 360px;
          flex: 4 1 360px;
}

.flex-item-auto {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

h1 {
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-size: 5.25rem;
  line-height: 100%;
}

@media screen and (max-width: 960px) {
  h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.25rem;
    line-height: 120%;
  }
}

h2 {
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-size: 52px;
  line-height: 100%;
}

@media screen and (max-width: 960px) {
  h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h3 {
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-size: 36px;
  line-height: 120%;
}

@media screen and (max-width: 960px) {
  h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  line-height: 130%;
}

@media screen and (max-width: 960px) {
  h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

h5 {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  h5 {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

p {
  color: #d1d1db;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 167%;
}

@media screen and (max-width: 960px) {
  p {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.75rem;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
}

strong {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 167%;
}

@media screen and (max-width: 960px) {
  strong {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.75rem;
    line-height: 150%;
  }
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-4 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-4 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}

.border {
  border: 1px solid red;
}

.l-header {
  background-color: #353543;
  color: #ebebeb;
}

.l-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header__navBar-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 960px) {
  .l-header__menu {
    display: none;
  }
}

.l-header__link {
  font-size: 1.125rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  position: relative;
  display: inline-block;
  padding: 16px 0;
}

.l-header__link:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #ffba1a;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.l-header__link:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.l-header__link--active {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}

.l-header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.625rem;
}

@media screen and (max-width: 960px) {
  .l-header__right a:nth-child(-n + 2) {
    display: none;
  }
}

.l-header__right i {
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.l-header__right i:hover {
  color: #ffba1a;
}

.l-hero {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #353543), color-stop(10%, #282833));
  background: linear-gradient(#353543 90%, #282833 10%);
}

.l-hero .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 40px 0;
  place-items: center;
}

@media screen and (max-width: 960px) {
  .l-hero .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.l-hero__info h1 {
  margin-bottom: 2rem;
  position: relative;
}

.l-hero__info h1::after {
  content: '';
  position: absolute;
  display: block;
  width: 4ch;
  height: 5px;
  -webkit-animation: mymove 2s;
          animation: mymove 2s;
  background-color: #ffba1a;
  margin-top: 1rem;
}

@-webkit-keyframes mymove {
  from {
    width: 0px;
  }
  to {
    width: 4ch;
  }
}

@keyframes mymove {
  from {
    width: 0px;
  }
  to {
    width: 4ch;
  }
}

.l-hero__info span {
  font-size: 4rem;
  font-weight: 400;
  color: #9b9bb1;
}

.l-hero__info p {
  max-inline-size: 28.125rem;
}

@media screen and (max-width: 960px) {
  .l-hero__info {
    grid-column: 1 / -1;
  }
}

.l-hero__img {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .l-hero__img {
    grid-column: 1 / -1;
    text-align: center;
  }
}

.l-hero__box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background-color: #3f3f50;
  width: 100%;
  padding: 32px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(136px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(136px, 1fr));
  gap: 2.5rem;
}

@media screen and (max-width: 960px) {
  .l-hero__box {
    padding: 16px 25px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

.l-hero__card {
  background-color: #353543;
}

.btn-link {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: 'Work Sans', Sans-serif;
  color: #ffba1a;
}

.btn-link span {
  color: #ffba1a;
}
/*# sourceMappingURL=style.css.map */