//Branding Color´s

$primary-color: #ffba1a;

//Neutral Colors
$gray-50: #5e5e78;
$gray-100: #48485b;
$gray-200: #3f3f50;
$gray-300: #353543;
$gray-400: #2d2d39;
$gray-500: #282833;
$black-900: #000000;
$white-50: #ffffff;
$white-100: #ebebeb;
$white-200: #d6d6d6;
$white-300: #d1d1db;
$white-400: #cccccc;
$white-500: #afafc0;
$white-600: #9b9bb1;
