$component-name: 'l-hero';

.#{$component-name} {
  background: linear-gradient($gray-300 90%, $gray-500 10%);
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 0;
    place-items: center;

    @include responsive(sm) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &__info {
    h1 {
      margin-bottom: rem(32);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 4ch;
        height: 5px;
        animation: mymove 2s;
        background-color: $primary-color;
        margin-top: 1rem;
      }
      @keyframes mymove {
        from {
          width: 0px;
        }
        to {
          width: 4ch;
        }
      }
    }
    span {
      font-size: rem(64);
      font-weight: 400;
      color: $white-600;
    }
    p {
      max-inline-size: rem(450px);
    }
    @include responsive(sm) {
      grid-column: 1 / -1;
    }
  }

  &__img {
    width: 100%;

    @include responsive(sm) {
      grid-column: 1 / -1;
      text-align: center;
    }
  }

  &__box {
    grid-column: 1/3;
    background-color: $gray-200;
    width: 100%;

    padding: 32px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(136px, 1fr));
    gap: rem(40);

    @include responsive(sm) {
      padding: 16px 25px;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }

  &__card {
    background-color: $gray-300;
  }
}
